{{!-- Contenido de la página --}}
<div class="page">
<div class="page-content d-flex align-items-stretch">
    {{> navigation }}
    {{> proyecto }}
</div>
</div>
{{!-- Fin Contenido de la página --}}